.home-container {
	border: 1px solid #d1d5da;
}
.home-buttons {
	display: flex;
	justify-content: center;
}
.btn-block {
	width: max-content;
	margin: 10px;
}
.home-welcome-text {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}
.home-welcome-text img {
	margin: 0px 15px 0px 0px;
}
